<div class="flex-container" @slideAnimation>
    <article class="article">
        <section class="article-section">
            <div class="article-flex-img">
                <img class="flex-img" src="../../assets/Pictures/Kyoto/DSC03925.jpg">
            </div>
            <div class="article-flex">
                <div class="article-header">
                    <span class="header-text">KYOTO | 京都</span>
                    <span class="sub-header-text">"A city of wonders"</span>
                    <div class="poster-header">
                        <span class="poster-name"><span class="posted">BY </span>Anton Månsson</span>
                        <span class="poster-time"><span class="posted">POSTED </span> 24 June 2020</span>
                    </div>
                </div>
                <p class="article-text">
                    In the center of Japan a large city can be found just 15 minutes from Osaka called Kyoto. If you
                    travel
                    to Japan this is probably one of the go to places.
                    The amount of stunning places and wonders here are incredible. I stayed for only 5 days and
                    still feel
                    like I didn't even touch the surface.
                    In this article you can view some of the places I visited together with some of my favorite
                    photos from
                    Kyoto and my Japan trip.
                </p>
            </div>
        </section>
        <section class="article-section">
            <div class="article-flex">
                <div class="article-header">
                    <span class="header-text">FUSHIMI INARI TAISHA</span>
                    <span class="sub-header-text">"伏見稲荷大社"</span>
                </div>
                <p class="article-text">
                    Fushimi Inari was definetly one of the biggest higlights on the trip. The rain poured down all day
                    and I thought people might stay indoors to get out of the rain but I was completely wrong.
                    The shrine was packed with turists and now with umbrellas also which made it much worse. 
                    But even though it was packed and rained I managed to grab some pictures of the main path of toriis without any people there.
                    <br><br>
                    I did walk to the top of the mountain, Inari which was around 4km long and 233m above sea level. As soon as you had walked for 1h almost all people 
                    had given up so you could really enjoy the beautiful nature and incredible feeling of the shrine.
                    <br><br>
                    Here are some of my favorite photos from the day.
                </p>
            </div>
            <div class="article-flex-img">
                <img class="portrait-img" src="../../assets/Pictures/Kyoto/DSC03773.jpg">
            </div>
        </section>
        <!-- <section class="article-section">
            <div class="row">
                <div class="column">
                    <img class="portrait-img" src="../../assets/Pictures/Kyoto/DSC03478.jpg">
                </div>
                <div class="column">
                    <img class="portrait-img" src="../../assets/Pictures/Kyoto/DSC03640.jpg">
                </div>
              </div>
        </section> -->
        <section class="article-section">
            <div class="article-flex-img">
                <img class="flex-img" src="../../assets/Pictures/Kyoto/DSC03902.jpg">
            </div>
            <div class="article-flex">
                <div class="article-header">
                    <span class="header-text">KINKAKU-JI</span>
                    <span class="sub-header-text">"Temple of the Golden Pavilion"</span>
                </div>
                <p class="article-text">
                     On the west side of Kyoto you can find the temple of the golden pavilion called Kinkaku-ji.
                     This is by far the most impressive temple I have ever seen with its outer layer of gold leaf glowing in the sun.   
                     The area around the temple was quite small but the small lake in fornt of the temple did bring a very nice scene.
                     Was not to crowded either and it was not raining.
                     Only downside was the travel time to get there, easiest way was to go by bus but I'm not a big fan of going by bus.
                </p>
            </div>
        </section>
        <section class="article-section">
            <div class="article-flex">
                <div class="article-header">
                    <span class="header-text">GINKAKU-JI</span>
                    <span class="sub-header-text">"Temple of the Silver Pavilion"</span>
                </div>
                <p class="article-text">
                    On the other side of the city you can find the tempel Ginkaku-ji. It is also called the tempel of the silver pavilion.
                    <br><br>
                    At this tempel you can enjoy a small but beautiful garden and also some forest area which actually have some wild deers which were visible on the gills behind.
                    
                </p>
            </div>
            <div class="article-flex-img">
                <img class="portrait-img" src="../../assets/Pictures/Kyoto/DSC03992.jpg">
            </div>
        </section>
    </article>
</div>

<!-- <p class="article-text">
        <br>
        Kyoto was pure magic. During my trip in Japan, I visited Kyoto for 5 days and got to see many of the
        most well-known sights in Japan. The place that was most breathtaking during my entire trip was Fushimi
        inari. Although it rained all day, the hike to the top was absolutely magical.
        <br><br>
        The Golden Pavilion was also one of the highlights of the trip with its unique look and location.
        <br><br>
        Here are some of the photos from all over Kyoto, have so many photos from Kyoto that I was able to post
        a new picture every day on Instagram.
    </p> -->
<!-- <div id="masonry">
    <ngx-masonry [options]="myOptions">
        <div ngxMasonryItem class="masonry-item" *ngFor="let item of photoUrls">
                <img [src]=item alt="...">
        </div>
    </ngx-masonry>
</div> -->