
.animate__animated.animate__backInLeft {
  --animate-duration: 1s;
}
.animate__animated.animate__fadeInUp {
  --animate-duration: 1.2s;
}
.animate__animated.animate__pulse {
  --animate-repeat: 10;
}
section {
  display: flex;
  justify-content: center;
}
.home-container {
  // margin-top: 5%;
  display: grid;
  width: 80%;
  justify-content: center;
  grid-template-rows: 100vh 2.5fr 2.3fr 2fr 1fr;
  align-items: center;
  align-self: center;

  .header-text {
    align-items: center;
    margin: 0 auto;
    width: 100%;
    h1 {
      // font-family: "Emberly", sans-serif;
      font-family: "Montserrat", sans-serif;
      text-align: center;
      font-weight: 200;
      letter-spacing: 0.4em;
      font-size: clamp(1.5rem, 5vw, 20rem);
      color: #181717;
      margin: 0;
    }
    h2 {
      // font-family: "Emberly", sans-serif;
      font-family: "Montserrat", sans-serif;
      text-align: center;
      font-weight: 500;
      letter-spacing: 0.1em;
      font-size: clamp(1.5rem, 2vw, 3rem);
      color: #181717;
      margin: 1vh;
      font-style: italic;
    }
    h3 {
      // font-family: "Emberly", sans-serif;
      font-family: "Montserrat", sans-serif;
      text-align: center;
      font-weight: 300;
      letter-spacing: 0.1em;
      font-size: clamp(1.5rem, 1.5vw, 3rem);
      color: #181717;
      margin: 1vh;
    }
    .scrollDown {
      transform: translateY(35vh);
      text-align: center;
      svg {
        width: 30px;
        height: 30px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  a {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 2.3vw;
    color: #181717;
    margin: 0;
    text-decoration: none;
    .material-icons {
      font-size: 1.5vw;
    }
  }

  .center-image {
    max-width: 100%;
    margin: 0 auto;
    img {
      width: 100%;
    }
    .image-text {
      font-family: "Montserrat", sans-serif;
      text-align: right;
      font-weight: 200;
      font-size: clamp(0.8rem, 1vw, 3rem);
      color: #181717;
    }
  }

  .photo-grid {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-self: center;
    img {
      width: 40%;
      margin: clamp(0.8rem, 15%, 3rem);
    }
  }
}
@media screen and (max-width: 500px) {
  .home-container {
    margin-top: 5vh;
    max-height: none;
    display: grid;
    justify-content: center;
    grid-template-rows: 100vh 100vh 100vh 1fr;
    align-items: center;
    align-self: center;

    .header-text {
      align-items: center;
      h1 {
        font-size: clamp(1.5rem, 7vw, 3rem);
      }
      .scrollDown {
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }

    .center-image {
      max-width: 100%;
      .image-text {
        text-align: center;
        font-size: clamp(1rem, 1vw, 3rem);
      }
    }

    .photo-grid {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      align-self: center;
      img {
        width: 100%;
        margin: clamp(0.8rem, 3%, 3rem);
      }
  }
}
}
