<section>
    <div class="home-container">
        <div #firstHeader class="header-text ">
            <h1 >Photo</h1>
            <div>
                <p>Some of my favorites photos which <br> I have captured over the<br> years and my travels.</p>
            </div>
            <!-- <div class="grid"> 
                <img class="front-image-1" src="../../assets/Pictures/Home/Mountain2.jpg" alt="...">
                <span class="porfolio-link"><span class="link-header">link / </span>Portfolio</span>
                
                <img class="front-image-2" src="../../assets/Pictures/Home/DSC07936.jpg" alt="...">
            </div> -->
            <div class="scrollDown">
                <a (click)="toCenterImg()">click or scroll</a>
                <a (click)="toCenterImg()"></a>
            </div>
        </div>


        <div class="center-image">
            <img #centerImg src="../../assets/Pictures/Home/DSC9999.jpg" alt="...">
            <p #centerImgText class="image-text">Kings trail outside the cabins of Singi.</p>
        </div>
        <div class="header-text">
            <h2 #quote>Photography helps people to see.</h2>
            <h3 #quoteName>-Berenice Abbott</h3>
        </div>
        <div class="photo-grid">
            <img #img1 src="../../assets/Pictures/Home/Mountain2.jpg" alt="...">
            <img #img2 src="../../assets/Pictures/Home/DSC07378.jpg" alt="...">
        </div>
        <div class="header-text">
            <h1 #secHeader>BIG IN JAPAN.</h1>
        </div>
        <div class="photo-grid">
            <img #img1 src="../../assets/Pictures/Home/DSC02106.jpg" alt="...">
            <img #img2 src="../../assets/Pictures/Home/DSC02961.jpg" alt="...">
        </div>
        <div class="photo-grid">
            <img #img1 src="../../assets/Pictures/Home/DSC03786.jpg" alt="...">
            <img #img2 src="../../assets/Pictures/Home/DSC03877.jpg" alt="...">
        </div>
        <!-- <a routerLink="portfolio">PORTFOLIO <span class="material-icons">
                arrow_right_alt
            </span></a> -->
        <!-- (appear)="onAppear()" [hidden]="!hasAppeared" -->
    </div>
</section>