<div class="flex-container" @slideAnimation>
    <article class="article">
        <div class="article-flex">
            <span>KYOTO  |  京都 </span>
            <span>City of wonders</span>
        </div>
        <div class="article-flex">
            <img class="flex-img" src="../../../assets/Pictures/DSC03786.jpg">
        </div>
    </article>

    <!-- <p class="article-text">
        <br>
        Kyoto was pure magic. During my trip in Japan, I visited Kyoto for 5 days and got to see many of the
        most well-known sights in Japan. The place that was most breathtaking during my entire trip was Fushimi
        inari. Although it rained all day, the hike to the top was absolutely magical.
        <br><br>
        The Golden Pavilion was also one of the highlights of the trip with its unique look and location.
        <br><br>
        Here are some of the photos from all over Kyoto, have so many photos from Kyoto that I was able to post
        a new picture every day on Instagram.
    </p> -->
</div>
<!-- <div id="masonry">
    <ngx-masonry [options]="myOptions">
        <div ngxMasonryItem class="masonry-item" *ngFor="let item of photoUrls">
                <img [src]=item alt="...">
        </div>
    </ngx-masonry>
</div> -->