.flex-container {
    margin-top: 6%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .article{
    display: flex;
    flex-wrap: wrap;
      text-align: center;
    align-items: center;
    justify-content: center;
  }
  header{
    width: 100%;
  }
  .article-flex{
    margin: 3em;
  }
  .flex-img{
    max-width: 550px;
  }
  h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 400;
    margin: 0;
  }
  h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 200;
    margin: 0;
  }
  hr{
      width: 100%;
  }

  .article-text{
    font-family: 'Montserrat', sans-serif;
    width: 35em;
    font-weight: 100;
    font-size: 17px;
  }
  .masonry-item {
    margin-bottom: 5px;
    background-size: cover;
     max-height: 100%;
    max-width: 40em;
  }
  .masonry-item img
   {
    width: 100%;
    height: 100%;
  }
  ngx-masonry {
    margin: 0 auto;
  }

  #img-wrap{
    height: 100%;
    width: 100%;
  }
  #img-link{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
  }

  @media screen and (max-width: 500px) {

    .flex-container {
        margin-top: 4em;
      }

    .flex-img{
      width: 100vw;
    }
    h2{
        font-size: 1.8rem;
      }
      h3{
        font-size: 1.3rem;
        font-style: italic;
      }
      hr{
          width: 50%;
      }

      .article-text{
        width: 100%;
      }
      .article-flex{
        margin: 1em;
      }
      #masonry {
        margin-left: 0em;
      margin-right: 0em;
      margin-top: 1em;
      }
      .masonry-item {
        margin-bottom: 20px;
        background-color: #f1f1f1;
        background-size: cover;
        width: 100vw;
      }

      .masonry-item img {
        width: 100%;
        height: 100%;
      }
  }


  @media screen and (min-width: 1930px) {

    .masonry-item {
      max-width: 45em;
    }
    .flex-img{
        max-width: 700px; 
    }
}