<section class="404" @slideAnimation>
    <div class="flex-container">
        <article class="article">
            <div class="article-flex-img">
                <img class="flex-img" src="../../assets/confused-travolta.png" alt="Travolta confused">
            </div>
            <div class="article-flex">
                <h1>404 Not Found</h1>
                <hr>
                <h2 class="art-header-bold">Try a different location,</h2>
                <h2 class="art-header-light">could also be that I have broken the web page...</h2>
            </div>
        </article>
    </div>
</section>