.masonry-item {
  height: auto;
   max-width: 500px;
  margin-bottom: 19px;

  img {
     width: 100%;
    height: auto;
    display: inline-block;
    transition: 0.05s ease-in-out;
  }
}

.masonry-item-wide {
  height: auto;
   max-width: 950px;
  margin-bottom: 19px;

  img {
     width: 100%;
    height: auto;
    display: inline-block;
    transition: 0.05s ease-in-out;
  }
}
#masonry{
  margin-top: 8%;
  width: 100%;
}
ngx-masonry{
  margin: 0 auto;
}

img:hover {
  cursor: pointer;
  filter: grayscale(100%);
}
.ViewMoreButton{
font-size: 0.7rem;
font-family: 'Montserrat', sans-serif;
color: #131313;
border: solid 2px #f8f8f8;
font-weight: 800;
text-decoration: none;
padding: 0.8em;
transition: 0.2s ease-in-out;
border-radius: 2px;
}
.ViewMoreContainer{
text-align: center;
padding-top: 2em;
padding-bottom: 2em;
}


.ViewMoreButton:hover{
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  img:hover {
    cursor: none;
    filter: none;
  }
  #masonry {
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 4.5em;
  }
  .masonry-item {
    height: auto;
     width: 100%;
    margin-bottom: 0px;
  
    img {
       width: 100%;
      height: auto;
      display: inline-block;
    }
  }
  .masonry-item-wide {
    height: auto;
     width: 100%;
    margin-bottom: 0px;
  }

  .ViewMoreButton{
    font-size: 1rem;
    padding: 0.5em;
    border-radius: 2em;
    }
    .ViewMoreContainer{
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    }
    
    
    .ViewMoreButton:hover{
      cursor: pointer;
    }
}

// @media screen and (min-width: 1921px) {
//   .masonry-item {
//     height: auto;
//      width: 20%;
//     margin-bottom: 0px;
//   }
// }
// @media screen and (max-width: 400px) {
//   #masonry {
//     margin-left: 0em;
//     margin-right: 0em;
//     margin-top: 4.5em;
//   }
//   .masonry-item {
//     height: auto;
//      width: 100%;
//     margin-bottom: 0px;
  
//     img {
//        width: 100%;
//       height: auto;
//       display: inline-block;
//     }
//   }
// }
