.grid-sizer,
.masonry-item {
  // height: 100%;
  //  max-width: 500px;
  width: 25%;
  margin-bottom: 0px;

  img {
    width: 100%;
    // // height: auto;
    // display: inline-block;
    transition: 0.5s ease-in-out;
    margin-bottom: -5px;
  }
}

// .masonry-item-wide {
//   // height: auto;
//   // max-width: 600px;
//   width: 40%;
//   // margin-bottom: 19px;

//   img {
//      width: 100%;
//     height: auto;
//     display: inline-block;
//     transition: 0.05s ease-in-out;
//   }
// }
#masonry{
  margin-top: 3.5%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

img:hover {
  cursor: pointer;
  filter: grayscale(100%);
}
.ViewMoreButton{
font-size: 0.7rem;
font-family: 'Montserrat', sans-serif;
color: #131313;
// border: solid 2px #f8f8f8;
font-weight: 900;
text-decoration: none;
padding: 0.8em;
transition: 0.2s ease-in-out;
// border-radius: 2px;
}
.ViewMoreContainer{
text-align: center;
padding-top: 2em;
padding-bottom: 2em;
}


.ViewMoreButton:hover{
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  img:hover {
    cursor: none;
    filter: none;
  }
  #masonry {
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 4em;
    width: 100%;
  }
  .masonry-item {
    height: auto;
     width: 100%;
    margin-bottom: 0px;
  
    img {
       width: 100%;
      height: auto;
      display: inline-block;
    }
  }
  .masonry-item-wide {
    height: auto;
     width: 100%;
    margin-bottom: 0px;
  }

  .ViewMoreButton{
    font-size: 0.6rem;
    border: none;
    font-weight: 900;
    }
    .ViewMoreContainer{
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    }
    
    
    .ViewMoreButton:hover{
      cursor: pointer;
    }
}

// @media screen and (min-width: 1921px) {
//   .masonry-item {
//     height: auto;
//      width: 20%;
//     margin-bottom: 0px;
//   }
// }
// @media screen and (max-width: 400px) {
//   #masonry {
//     margin-left: 0em;
//     margin-right: 0em;
//     margin-top: 4.5em;
//   }
//   .masonry-item {
//     height: auto;
//      width: 100%;
//     margin-bottom: 0px;
  
//     img {
//        width: 100%;
//       height: auto;
//       display: inline-block;
//     }
//   }
// }
