.flex-container {
    margin-top: 9%;
  }
  .article{
    display: flex;
    flex-wrap: wrap;
      text-align: center;
    justify-content: center;
  }
  .article-flex{
    max-width: 50%;
    text-align: left;
  }
  .card-flex{
    width: 31%;
    border: 1px solid #dfdfdf;
    margin: 1%;
    border-radius: 8px;
  }
  .main-card-flex{
    width: 100%;
    display: inline-flex;
    height: 30vh;
  }
  .article-flex-img{
    max-width: 40%;
  }
  .flex-img{
    max-width: 70%;
  }
  h1{
    font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 5rem;
      margin:0;
    margin-bottom: 0.5em;
  }
.art-header-light{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 2.8rem;
margin: 0;
}
.art-header-bold{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 2.8rem;
margin: 0;
}
  hr{
      width: 100%;
  }
  ul{
    list-style-type: none;
    padding-left: 0;
  }
  .article-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 16px;
    width: 80%;
  }
  .card-text{
    // font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
// font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    font-size: 15px;
    margin: 10%;
    width: 80%;
  }
  p{
    display: block;
    width: 100%;
  }
  @media screen and (max-width: 500px) {
    .flex-container {
      margin-top: 5em;
    }
    .article{
      display: block;
      flex-wrap: unset;
    }
    .article-flex{
      max-width: 100%;
        margin: 1em;
    }
    .article-flex-img{
      max-width: 100%;
    }
    .flex-img{
      max-width: 100%;
    }
    h1{
        font-size: 2.6rem;
        text-align: center;
      margin-bottom: 0.5em;
    }
  .art-header-light{
    font-size: 2rem;
    text-align: center;
  }
  .art-header-bold{
    font-size: 2rem;
    text-align: center;
  }
    .article-text{
      font-size: 15px;
      width: 100%;
      text-align: center;
    }
  }