<div class="cursor" #cursor>+</div>
<section class="landingPage">
  <div class="loading-container" [@changeView]=currentState>
    <span [@loadingAnimation]=isLoaded class="loading-class">
      {{countdown_value}} / 100
    </span>
    <div class="name-container">
      <span [@welcomeAnimation]=isLoaded id="welcome-text">{{typewriter_display}}</span>
      <p [@nameAnimation]=isCompleted class="name-title">MANSSON</p>
    </div>
    <span [@nameAnimation]=isCompleted class="continue-btn" (click)="changeState()">CONTINUE</span>
  </div>
  <div class="grid-container">
    <div class="dev-container"></div>
    <div class="photo-container"></div>
  </div>

</section>