#topNav{
  padding-top: 2%;
    padding-bottom: 2%;
    // overflow: hidden;
    height: 5%;
    position: fixed;
     top: 0; 
   width: 100%; 
   background-color: white;
   z-index: 99;
   transition: 0.5s ease-in-out;
   border-bottom: 1px solid #ebebeb;
}


.hamburger {
    cursor: pointer;
    width: 40px;
    align-items: center 
  }
  .hamburger:hover .bar2{
      transform: translate(-0.3em) rotate(0deg);
      transition: 250ms cubic-bezier(0.175, 0.885, 0.52, 1);
  }
  .hamburger:hover{
    opacity: 0.7;
}
  .bar1, .bar3 {
    width: 39px;
    height: 3px;
    background-color: black;
    margin: 7px 0;
    transition: 0.4s;
  }
  .bar2{
    width: 39px;
    height: 3px;
    background-color: black;
    margin: 7px 0;
    transition: 0.4s;
    transform: translate(0.5em) rotate(0deg);
  }


  .hamburgerContainer{
    float: right;
    display: flex;
    align-items: center; 
    height: 2.5vw;
    margin-right: 5em;
    justify-content: center
  }
  #navDivName {
    margin-left: 5em;
    height: 3vw;
    float: left;
    align-items: center;
    display: flex;
    text-align: center; 
    justify-content: center;
  } 
  #NavSpanforeName{
    // font-family: 'Fjalla One', sans-serif;
    // font-family: 'Source Code Pro', monospace;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.9rem;
    color: #131313;
  }
  #NavSpanName{
    // font-family: 'Fjalla One', sans-serif;
    // font-family: 'Source Code Pro', monospace;
    font-family: 'Montserrat', sans-serif;
    // font-size: 2.5vw;
    // letter-spacing: 0.3em;
    // font-weight: bold;
    font-size: 2.7rem;
    color: #131313;
  }
  #navDivName a{
    text-decoration: none;
    display: block;
  }


  #navMenuContainer{
     background-color: rgb(255, 255, 255);
    position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-Index: 999;
    width: 100%;
    visibility: visible;
    height: 100%;
    position: fixed;
    display: block;
  }

  .navMenu{
    display: inline-block;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    text-align: center; 
    justify-content: center;
  }
.navMenu ul{
  list-style-type: none;
  padding: 0;
}
  .NavLink{
    font-size: 2rem;
    text-decoration: none;
    color: #131313;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border-bottom: solid 1px transparent;
    padding: 10px;
    transition: 0.2s ease-in-out;
  }
  .NavLinkSub{
    font-size: 1.6rem;
    text-decoration: none;
    color: #131313;
    font-family: 'Montserrat', sans-serif;
    border-bottom: solid 1px transparent;
    padding: 10px;
    transition: 0.2s ease-in-out;
  }

  .navMenu a:hover{
    border-color: black;
  }
  .is-active {
    border-bottom: solid 1px rgb(0, 0, 0);
    border-radius: 1px;
 }  

  .navMenu li{
    margin: 2em;
  }
  .NavMenuHamburgerContainer{
    position:absolute;
    top:2.4em;
    right:0px;
    display: flex;
    align-items: center; 
    height: 50px;
    margin-right: 5em;
    justify-content: center
  }

  .NavMenuhamburger:hover{
    opacity: 0.6;
    cursor: pointer;
  }
  .NavMenuhamburger:hover .x1{
    transform: translateY(0rem) rotate(-134deg);
    transition: 300ms cubic-bezier(0.175, 0.485, 0.82, 1);
  }
  .NavMenuhamburger:hover .x3{
    transform: translateY(-0.6rem) rotate(134deg);
      transition: 300ms cubic-bezier(0.175, 0.485, 0.82, 1);
  }

  .NavMenuhamburger{
    transform: translateY(0.57rem);
    height: 40px;
    .cross1{
      width: 39px;
      height: 3px;
      background-color: black;
      margin: 7px 0;
      transition: 0.4s;
      transform: translateY(0.043rem) rotate(134deg)
    }
    .cross2{
      width: 39px;
      height: 3px;
      background-color: black;
      margin: 7px 0;
      transition: 0.4s;
      transform: translateY(-0.57rem) rotate(-134deg)
    }
  }


  @media screen and (max-width: 500px) {
    #topNav{
      padding-top: 1em;
      margin: 0;
      height: 3em;
  }
  
  .hamburger {
      cursor: pointer;
      width: 34px;
      align-items: center 
    }
    .bar1, .bar3 {
      width: 30px;
      height: 3px;
      background-color: black;
      margin: 5px 0;
      transition: 0.4s;
    }
    .bar2{
      width: 30px;
      height: 3px;
      background-color: black;
      margin: 5px 0;
      transition: 0.4s;
      transform: translate(0.5em) rotate(0deg);
    }
  
    .hamburgerContainer{
      height: 3em;
      margin-right: 2em;
    }
    #navDivName {
      height: 3em;
      margin-left: 1em;
    } 
    #NavSpanforeName{
      font-size: 8vw;
    }
    #NavSpanName{
      font-size: 7vw;
    }
  
    .navMenu a{
      font-size: 1.5rem;
    }
    .navMenu li{
      margin: 1em;
    }
    .NavMenuHamburgerContainer{
      top:1em;
      right:0px;
      width: 38px;
      margin-right: 2em;
    }
  
    .cross1{
      width: 30px;
      height: 4px;

      margin: 7px 0;
    }
    .cross2{
      width: 30px;
      height: 4px;
      margin: 7px 0;
    }
 
  }

 