<section class="portfolio">
  <div class="sorting-container">
    <span id="sort-text" (click)="sortPhotos()"><span class="material-icons">
        sort
      </span><span id="change-sort">LATEST</span></span>
  </div>
  <div id="masonry">
    <ngx-masonry [options]="myOptions" >
      <div #fade ngxMasonryItem class="masonry-item" *ngFor="let item of viewPhotoUrls" >
        <img   (click)="openModal($event)" [src]=item.Url alt="...">
      </div>
    </ngx-masonry>
    <div class="modal" (click)="closeModal()">
      <img src="" alt="" class="full-img">
    </div>
    <div class="ViewMoreContainer">
      <span class="ViewMoreButton" (click)="loadMorePhotos()">DISCOVER MORE</span>
    </div>
  </div>
</section>