.portfolio{
  padding-top: 6%;
}
.animate__animated.animate__fadeIn {
  --animate-duration: 2s;
}
#masonry {
  margin-top: 3%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.grid-sizer,
.masonry-item {
  width: 30%;
  margin-bottom: 50px;

  img {
    width: 100%;
    transition: 0.5s ease-in-out;
    margin-bottom: -5px;
  }
}


img:hover {
  cursor: pointer;
  filter: grayscale(100%);
}

.ViewMoreButton {
  font-size: 0.7rem;
  font-family: "Montserrat", sans-serif;
  color: #131313;
  // border: solid 2px #f8f8f8;
  font-weight: 900;
  text-decoration: none;
  padding: 0.8em;
  transition: 0.2s ease-in-out;
  // border-radius: 2px;
}
.ViewMoreContainer {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.ViewMoreButton:hover {
  cursor: pointer;
}

.modal {
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  position: fixed;
  top: -5%;
  left: 0;
  width: 100%;
  height: 105%;
  overflow: hidden;
  z-index: 9999999;
  pointer-events: none;
  transition: all 0.4s ease-in-out;
  img:hover {
    cursor: initial;
    filter: none;
  }

  .modal.open {
    opacity: 1;
    pointer-events: all;
  }
  .full-img {
    position: absolute;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.25s ease-out;
  }
  .full-img.open {
    transform: translate(-50%, -50%);
  }
}

.sorting-container {
  float: left;
  margin-left: 3vw;
  #sort-text {
    display: flex;
    vertical-align: middle;
    align-items: center;

    text-decoration: none;
    transition: 0.1s ease;
    #change-sort {
      font-size: 0.7rem;
      font-family: "Montserrat", sans-serif;
      color: #131313;
      text-align: center;
      font-weight: 800;
    }
    .material-icons {
      padding: 0.5rem;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 500px) {
  img:hover {
    cursor: none;
    filter: none;
  }
  #masonry {
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 6.5em;
    width: 100%;
  }
  .masonry-item {
    height: auto;
    width: 100%;
    margin-bottom: 0px;

    img {
      width: 100%;
      height: auto;
      display: inline-block;
    }
  }
  .masonry-item-wide {
    height: auto;
    width: 100%;
    margin-bottom: 0px;
  }

  .ViewMoreButton {
    font-size: 0.6rem;
    border: none;
    font-weight: 900;
  }
  .ViewMoreContainer {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .ViewMoreButton:hover {
    cursor: pointer;
  }
  .sorting-container {
    float: left;
    margin-left: 3vw;
    padding-top: 3rem;
    #sort-text {
      display: flex;
      vertical-align: middle;
      align-items: center;
  
      text-decoration: none;
      transition: 0.1s ease;
    }
  }
}
