* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  color: #e7e7e7;
  /* background-color: #14171a; */
  background-color: #0e1113;
  font-family: 'IBM Plex Mono', monospace;
}
/* h2{
  font-size: 7rem
}
h1{
  font-size: 7rem
} */