.animate__animated.animate__backInLeft {
  --animate-duration: 1s;
}
.animate__animated.animate__fadeInUp {
  --animate-duration: 1.2s;
}
section {
  display: flex;
  justify-content: center;
}
.home-container {
  // margin-top: 5vh;
  display: grid;
  width: 80%;
  justify-content: center;
  grid-template-rows: 100vh 100vh;
  align-items: center;

  .header-text {
    margin: 0 auto;
    width: 100%;
    h1 {
      font-family: "Montserrat", sans-serif;
      text-align: center;
      font-weight: 300;
      letter-spacing: 0.4em;
      font-size: clamp(1.5rem, 4vw, 20rem);
      color: #181717;
      margin: 0;
    }
    .bold-text {
      font-weight: 700;
      font-size: clamp(1.5rem, 1vw, 3rem);
    }
    h3 {
      font-family: "Montserrat", sans-serif;
      text-align: center;
      font-weight: 300;
      letter-spacing: 0.1em;
      font-size: clamp(1.5rem, 1.2vw, 3rem);
      color: #181717;
      margin: 1vh;
    }

    .scrollDown {
      transform: translateY(35vh);
      text-align: center;
      svg {
        width: 30px;
        height: 30px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
.article-text {
  margin: 0 auto;
  font-family: "Noto Sans JP", sans-serif;
  width: 80%;
  font-weight: 200;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  line-height: 2;
}
.about-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: clamp(1.5rem, 3vw, 6rem);
  color: #181717;
  padding: 6vh;
  display: block;
}
.photo-grid {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-self: center;
  img {
    width: 20%;
    margin: clamp(0.8rem, 5%, 3rem);
  }
}

@media screen and (max-width: 500px) {
  .home-container {
    margin-top: 5vh;
    max-height: none;
    display: grid;
    justify-content: center;
    grid-template-rows: 95vh 1fr;
    align-items: center;
    align-self: center;

    .header-text {
      align-items: center;
      h1 {
        font-size: clamp(1.7rem, 10vw, 3rem);
      }
      .scrollDown {
        transform: translateY(25vh);
        svg {
          width: 20px;
          height: 20px;
        }
      }
      h3 {
        font-size: clamp(1.1rem, 1.2vw, 3rem);
        margin: 2vh;
      }
      .bold-text {
        font-size: clamp(0.9rem, 0.8vw, 3rem);
      }
    }

    .photo-grid {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      align-self: center;
      img {
        width: 100%;
        margin: clamp(0.8rem, 3%, 3rem);
      }
    }
  }
  .article-text {
    font-size: 1rem;
    letter-spacing: 0.1em;
    line-height: 2;
  }
  .about-header {
    font-size: clamp(2rem, 3vw, 6rem);
    padding: 1vh;
    padding-bottom: 3vh;
  }
}
