@font-face {
  font-family: "Emberly";
  src: url("../../../assets/Fonts/Emberly-ExtraBold.ttf");
  font-weight: normal;
  font-style: normal;
}
.about{
  height: 100vh;
  vertical-align: middle;
}
.flex-container {
  // padding-top: 6%;
  margin: auto;
  vertical-align: middle;
  justify-content: center;
  width: 70%;
  height: 90vh;
}
.article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5em;
  align-items: center;

  height: 100%;

  .article-flex {
    max-width: 50%;
    .text-container{
      border-top: solid 5px #f7f7f7;
      border-bottom: solid 5px #f7f7f7;
      padding: 3rem 3rem;
    }
  }
  .article-flex-img {
    max-width: 50%;
  }
  .flex-img {
    max-width: 70%;
  }
  h1 {
    font-family: "Montserrat", sans-serif;
    vertical-align: middle;
    letter-spacing: 0.1em;
    .bold-text {
      font-weight: 500;
    }
    .cursive-text {
      font-size: 1rem;
    }
  }
  .art-header-light {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 2rem;
    margin: 0;
  }
  .art-header-bold {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 10vh;
    margin: 0;
  }
  .article-text {
    margin-top: 4%;
    font-family: "Noto Sans JP", sans-serif;
    width: 80%;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 0.1em;
    line-height: 2;
  }
}

@media screen and (max-width: 500px) {
  .flex-container {
    margin-top: 3em;
    width: 90%;
  }
  .article {
    display: block;
    height: 100%;

    .article-flex {
      max-width: 100%;
      border: none;
      .text-container {
        padding-top: 2%;
      }
    }
    .article-flex-img {
      max-width: 100%;
    }
    .flex-img {
      max-width: 100%;
    }
    h1 {
      text-align: center;

      .bold-text {
        font-weight: 800;
      }
      .cursive-text {
        font-size: 1.5rem;
      }
    }
    .art-header-light {
      font-size: 2.5rem;
      text-align: center;
    }
    .art-header-bold {
      font-size: 6rem;
      text-align: center;
    }
    .article-text {
      width: 100%;
      font-size: 13px;
    }
  }
}
