<section class="main-navigation">
    <nav id="topNav">
        <div id="navDivName">
            <a routerLink="">
                <!-- <span id="NavSpanforeName">ANTON </span> -->
                <span id="NavSpanName">MANSSON°</span>
            </a>
        </div>
        <div class="hamburgerContainer">
            <div class="hamburger" (click)="toggleMenu()">
                <div id="bar1"></div>
                <div id="bar2"></div>
                <div id="bar3"></div>
            </div>
        </div>
    </nav>
</section>

<section class="right-navigation">
    <div id="rightNav">
        <div>
            <nav class="mediaSideNavLinks">
                <a id="Facebook" href="https://www.facebook.com/anton.mansson.7?ref=bookmarks" target="_blank" rel="noopener">
                    <img class="socialMediaLogoSidenav" src="../../assets/socialMedia/fb.png" alt="Facebook Logo">
                </a>
                <a id="Instagram" href="https://www.instagram.com/mansson_anton/" target="_blank" rel="noopener">
                    <img class="socialMediaLogoSidenav" src="../../assets/socialMedia/insta.png" alt="Instagram Logo">
                </a>
                <a id="LinkedIn" href="https://www.linkedin.com/in/anton-mansson/" target="_blank" rel="noopener">
                    <img class="socialMediaLogoSidenav" src="../../assets/socialMedia/linkedin.png" alt="LinkedIn Logo">
                </a>
                <a id="Twitter" href="https://twitter.com/mansson_anton1" target="_blank" rel="noopener">
                    <img class="socialMediaLogoSidenav" src="../../assets/socialMedia/twitter.png" alt="LinkedIn Logo">
                </a>
            </nav>
        </div>
        <div id="bottom-right" (click)="scrollToTop()">
            <i><svg xmlns="http://www.w3.org/2000/svg" width="15" height="18" viewBox="0 0 17 10">
                    <path class="cls-1" d="M6.22,8.75,3.37,5.89H17V4.12H3.37L6.22,1.25,5,0,0,5l5,5Z"></path>
                </svg></i>
            <span class="arrow-txt">TOP</span>
        </div>
    </div>
</section>

<section class="left-navigation">
    <div id="leftNav">
        <div id="bottom-left">
            <i><svg xmlns="http://www.w3.org/2000/svg" width="15" height="18" viewBox="0 0 17 10" class="arrow-down">
                    <path class="cls-1" d="M6.22,8.75,3.37,5.89H17V4.12H3.37L6.22,1.25,5,0,0,5l5,5Z"></path>
                </svg></i>
            <span class="arrow-txt">SCROLL</span>
        </div>
    </div>
</section>
<div id="navMenuContainer" (click)="isToggled">
    <!-- [@test]="isToggled"> -->
    <div class="NavMenuHamburgerContainer">
        <div class="NavMenuhamburger" (click)="toggleMenu()">
            <div id="cross1"></div>
            <div id="cross2"></div>
        </div>
    </div>
    <nav class="navMenu">
        <ul class="menuList">
            <li><a (click)="toggleMenu()" routerLink="" routerLinkActive="is-active" class="NavLink"
                    [routerLinkActiveOptions]="{ exact: true }"> 01 /<span class="activeCrossed">HOME</span>
                    <!-- <span class="activeCrossed"></span> -->
                </a>
            </li>
            <li>
                <a (click)="toggleMenu()" routerLink="portfolio" routerLinkActive="is-active" class="NavLink">02 /<span class="activeCrossed">PORTFOLIO</span>
                </a>
            </li>
            <li>
                <a (click)="toggleMenu()" routerLink="features" routerLinkActive="is-active" class="NavLink">03 /<span class="activeCrossed">FEATURES</span>
                </a>
            </li>
            <li>
                <a (click)="toggleMenu()" routerLink="features/kyoto" routerLinkActive="is-active"
                    class="NavLink NavLinkSub"> / 01 
                    <span class="activeCrossed">KYOTO</span>
                </a>
            </li>
            <li>
                <a (click)="toggleMenu()" routerLink="about" routerLinkActive="is-active" class="NavLink">04 /<span class="activeCrossed">ABOUT</span>
                </a>
            </li>
        </ul>
    </nav>
</div>