.home{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    justify-content: center;
    background-image: url(../Assets/svg\ 1.svg);
    background-size:100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size:cover;
    transform: translateY(-8vh);
}
.about{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    justify-content: center;
}
.contact{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    justify-content: center;
}
.projects{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    justify-content: center;
}
h3{
    font-size: 6rem;
    font-family: 'IBM Plex Mono', monospace;
    color: #b1b1b1;
}
h4{
    /* font-family: 'VT323', monospace; */
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2rem;
    font-weight: 500;
    color: #31dd48;
}
h2{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 7rem;
}
p{
    padding-top: 2rem;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.7rem;
    max-width: 50%;
    line-height: 1.8;
}