@font-face {
    font-family: "Digra";
    src: url("../Assets/Apex\ Mk3-Medium.otf");
  }
  @font-face {
    font-family: "Digra-light";
    src: url("../Assets/Apex\ Mk3-ExtraLight.otf");
  }
.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    justify-content: center;
    transform: translateY(-8vh);
    z-index: 1;
}
.background-image {
    position: absolute;
    transform: skewX(-20deg);
    -ms-transform: skewX(-20deg); /* IE 9 */
    -webkit-transform: skewX(-20deg); /* Safari and Chrome */
    /* display: flex;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    justify-content: center; */
    /* background-image: url(../Assets/svg\ 1.svg); */
    /* animation: animatedBackground 20s ease infinite alternate; */
    /* background-size: 95%;
    background-position: 0px 0px;
    background-repeat: repeat;
    z-index: -1; */
}

.contact {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    justify-content: center;
}
.projects {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    justify-content: center;
}
.content-container {
    /* margin-left: 15%; */
}
h3 {
    font-size: 7rem;
    font-family: "Digra-light", monospace;
    /* font-family: 'Turret Road', cursive; */
    color: #b1b1b1c4;
    letter-spacing: 0.1em;
}
.left{
    /* float: left; */
}
.right{
    float: right;
}
.center{
    /* float: center; */
    text-align: center;
}
.green{
    color: #31dd48;
    /* font-size: 7rem; */
}
h4 {
    /* font-family: 'VT323', monospace; */
    /* font-family: "IBM Plex Mono", monospace; */
    font-family: 'Turret Road', cursive;
    font-size: 1.7rem;
    font-weight: 500;
    color: #31dd48;
}
h2 {
    /* font-family: "IBM Plex Mono", monospace; */
    font-family: 'Digra-light', monospace;
    letter-spacing: 0.2em;
    font-size: 8rem;
    color: #e7e7e7;
}
p {
    padding-top: 2rem;
    padding-bottom: 5rem;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.5rem;
    max-width: 50%;
    line-height: 1.8;
}
.project-button {
    display: inline-block;
    transform: translateY(20vh);
    font-family: "IBM Plex Mono", monospace;
    font-size: 2rem;
    font-weight: 500;
    color: #31dd48;
    border: 1px solid;
    padding: 1.5rem 3rem;
    /* border-radius: 0.5rem; */
}
.project-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}
@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 115%;
    }
}
