.home-container{
  margin-top: 4%;
  display: flex;
  width: 100%;
  display: table;
  height: 100%;
  .home-button{
    display: inline-block;
    margin-top: 6%;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #3a3a3a;
    border: solid 2px #3a3a3a;
    text-decoration: none;
    padding: 1em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    transition: 0.1s ease-in-out;
  }

  .home-button:hover{
    cursor: pointer;
    transform: scale(1.05);
    background-color: #f1f1f1;
    // transform: skew(1deg, 1deg);
  }
}
.home-flex{
  display:table-cell;
 vertical-align:middle;
  width: 30%;
  text-align: center;
  align-items: center;
  align-content: center;
  margin-left: 7%;
}
.carousel-flex{
  width: 100%;
}
.container {
  // height: 675px;
  max-width: 85%;
  // padding: 2em;
  // padding-bottom: 75%;
}
h1{
  font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1.8rem;
    color: #131313;
    margin: 0;
}
h2{
  font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1.8rem;
    color: #131313;
    margin: 0.3rem; 
}

@media screen and (min-width: 1930px) {
  h1{
      font-size: 2rem;
  }
  h2{
      font-size: 2rem;
  }

  // .container {
  //   height: 900px;
  //   max-width: 1200px;
  //   padding: 2em;
  // }
}

@media screen and (max-width: 500px) {
  .home-container{
    margin-top: 5em;
    display: block;
    width: 100%;
    .home-button{
      display: inline-block;
      margin-top: 6%;
      font-size: 1rem;
      border: solid 2px #131313;
      padding: 0.8em;
    }
  }
  .home-flex{
    width: 100%;
    margin-top: 10%;
    margin: 0;
  }
  .carousel-flex{
    width: 100%;
  }
  .container {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 1em;
    max-width: 100%;
  }
  h1{
      font-size: 1.5rem;
      margin-left: 2em;
      margin-right: 2em;
  }
  h2{
      font-size: 1.5rem;
      color: #131313;
      margin: 0.3rem; 
      margin-left: 2em;
      margin-right: 2em;
  }
}