<div class="home-container" @slideAnimation>
    <div class="home-flex" >
        <h1 class="bold-text">Well hello there!</h1>
        <h2 class="light-text">This is my photography page,</h2>
        <h1 class="bold-text">have a look around and</h1>
        <h2 class="light-text">you might find something.</h2>
        <a class="home-button" href="/portfolio">PORTFOLIO</a>
    </div>
    <div class="carousel-flex">
    <div class="container">
        <carousel [slides]="slides"></carousel>
    </div>
</div>
</div>