<section>
    <div class="home-container" @slideAnimation>
        <h1>PHOTOGRAPHY HELPS PEOPLE TO SEE.</h1>
        <div class="center-image">
            <img src="../../assets/Pictures/Home/Mountain.jpg" alt="...">
        </div>
        <div class="block"></div>
        <div class="welcome-container">
            <h2 class="welcome-text">WELCOME TO MY WEBPAGE.</h2>
            <img class="welcome-img" src='../../assets/Pictures/Home/DSC9999.jpg'>
            <h3 class="favorite-text">SOME FAVORITES FROM 2020.</h3>
            <p class="info-text">
                (1) Outside the cabins of Singi in the Swedish mountains.
            </p>
        </div>
        <div class="block"></div>
        <div class="japan-container">
            <h2 class="japan-text">JAPAN 2020. <p class="date-text">JANUARY-FEBUARY</p>
            </h2>

            <img class="tower-img" src='../../assets/Pictures/Home/DSC02106.jpg'>
            <img class="taxi-img" src='../../assets/Pictures/Home/DSC02888.jpg'>
            <img class="path-img" src='../../assets/Pictures/Home/DSC03786.jpg'>
            <img class="mist-img" src='../../assets/Pictures/Home/DSC02961.jpg'>
        </div>
        <div class="block"></div>
        <div class="abisko-container">
            <h2 class="abisko-text">ABISKO 2020. <p class="date-text">JULY-AUGUST</p></h2>
            
            <img class="tower-img" src='../../assets/Pictures/Home/DSC07940.jpg'>
            <img class="taxi-img" src='../../assets/Pictures/Home/DSC07378.jpg'>
            <img class="path-img" src='../../assets/Pictures/Home/DSC08100.jpg'>
            <img class="m-img" src='../../assets/Pictures/Home/DSC07735-Redigera-2.jpg'>
            <img class="mist-img" src='../../assets/Pictures/Home/DSC07965-2.jpg'>
        </div>
        <div class="block"></div>
        <h1>MORE COMMING SOON</h1>
        <a routerLink="portfolio">SEE MORE IN MY PORTFOLIO</a>
        <div class="block"></div>
    </div>
</section>


<!-- <div class="home-flex">
    <h2 class="light-text">My name is Anton Månsson & I love photography.</h2>
    <a class="home-button" href="/portfolio">PORTFOLIO</a>
</div>
<div class="carousel-flex">
    <div class="container">
        <carousel [slides]="slides"></carousel>
    </div>
</div>  -->
<!-- <div class="home-flex">
    <h2 class="light-text">This is my photography page,</h2>
    <h1 class="bold-text">have a look around</h1>
    <h2 class="light-text">and check out some photos.</h2>
    <a class="home-button" href="/portfolio">PORTFOLIO</a>
</div>
 <div class="carousel-flex">
    <div class="ImgContainer">
        <img src="../../assets/Pictures/Kyoto/DSC03773.jpg" alt="...">
    </div>
    <div class="ImgContainer">
        <img src="../../assets/Pictures/Kyoto/DSC03773.jpg" alt="...">
    </div>
    <div class="ImgContainer">
        <img src="../../assets/Pictures/Kyoto/DSC03773.jpg" alt="...">
    </div>
</div> -->