.flex-container {
    padding-top: 6%;
    margin: auto;
    width: 70%;
  }
  .article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5em;
    align-items: center;
    height: 100%;

    .article-flex{
      max-width: 40%;
      margin-left: -3%;
      background-color: white;
      // border: 0.5px solid #fafafa;

      .text-container{
        padding-left: 6%;
        padding-top: 8%;
        padding-bottom: 6%;
      }
    }
    .article-flex-img{
      max-width: 40%;
    }
    .flex-img{
      max-width: 100%;
    }
    h1{
      font-family: 'Montserrat', sans-serif;
        font-weight:900;
      vertical-align: middle;
      margin-bottom: 5em;
    
      .bold-text{
        font-weight: 800;
      }
      .cursive-text{
        font-size: 1.2rem;
      }
    }
  .art-header-light{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 2rem;
  margin: 0;
  }
  .art-header-bold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
  margin: 0;
  }
    .article-text{
      margin-top: 7%;
      font-family: "Noto Sans JP", sans-serif;
      width: 90%;
      font-weight: 200;
      font-size: 13px;
      letter-spacing: 0.1em;
      line-height: 2;
    }
  }



  @media screen and (max-width: 500px) {
    .flex-container {
      margin-top: 3em;
      width: 90%;
    }
    .article{
      display: block;
      height: 100%;
  
      .article-flex{
        max-width: 100%;
        border: none;
        .text-container{
          padding-top: 2%;
        }
      }
      .article-flex-img{
        max-width: 100%;
      }
      .flex-img{
        max-width: 100%;
      }
      h1{
        text-align: center;
      
        .bold-text{
          font-weight: 800;
        }
        .cursive-text{
          font-size: 0.8rem;
        }
      }
    .art-header-light{
      font-size: 1.3rem;
    text-align: center;
    }
    .art-header-bold{
      font-size: 2rem;
    text-align: center;
    }
      .article-text{
        width: 100%;
        font-size: 13px;
      }
    }
  }