.flex-container {
    padding-top: 5%;
    margin: auto;
    justify-content: center;
    width: 80%;
  }
  .article{
    display: flex;
    flex-wrap: wrap;
      text-align: center;
    justify-content: center;
    margin-bottom: 5em;
  }
  .article-flex{
    max-width: 40%;
    text-align: left;
  }
  .article-flex-img{
    max-width: 50%;
  }
  .flex-img{
    max-width: 70%;
  }
  h1{
    font-family: 'Montserrat', sans-serif;
      font-weight:900;
      font-size: 3.5rem;
    display: table-cell;
    vertical-align: middle;
    width: 50%;
  }
.art-header-light{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
margin: 0;
}
.art-header-bold{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
margin: 0;
}
  .article-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 18px;
    width: 50%;
  }

  @media screen and (max-width: 500px) {
    .flex-container {
      margin-top: 5em;
    }
    .article{
      display: block;
      flex-wrap: unset;
    }
    .article-flex{
      max-width: 100%;
        margin: 1em;
    }
    .article-flex-img{
      max-width: 100%;
    }
    .flex-img{
      max-width: 100%;
    }
    h1{
        font-size: 2.6rem;
        text-align: center;
      margin-bottom: 0.5em;
    }
  .art-header-light{
    font-size: 2rem;
    text-align: center;
  }
  .art-header-bold{
    font-size: 2rem;
    text-align: center;
  }
    .article-text{
      font-size: 15px;
      width: 100%;
      text-align: center;
    }
  }