<section class="about" @slideAnimation>
    <div class="flex-container">
        <article class="article">
            <div class="article-flex-img">
                <img class="flex-img" src="../../assets/Pictures/About/me.jpg" alt="Picture of me looking at something funny">
            </div>
            <div class="article-flex">
                <h1>WHO AM I?</h1>
                <p class="article-text">
                    I am a software engineer during the day and do some photography during my free time.
                    <br><br>
                </p>
            </div>
        </article>
        <article class="article">
            <div class="article-flex">
                <h1>WHY THIS WEB PAGE?</h1>
                <p class="article-text">
                    Display some of my photos. I'm bad at posting so I want to show it somewhere and also see my progression in photograpy as time goes by.
                </p>
            </div>
            <div class="article-flex-img">
                <img class="flex-img" src="../../assets/Pictures/About/m2.jpg" alt="Picture of me looking at something funny">
            </div>
        </article>
        <article class="article">
            <div class="article-flex-img">
                <img class="flex-img" src="../../assets/Pictures/About/me_ski.jpg" alt="Picture of me looking at something funny">
            </div>
            <div class="article-flex">
                <h1>SOMETHING MORE?</h1>
                <p class="article-text">
                    I love skiing and and also a huge tech nerd. You can soon checkout my other web page were I display some development. 
                </p>
            </div>
            
        </article>
    </div>
</section>



                <!-- <div class="main-card-flex">
                    <div class="card-flex">
                        <h3>DEVELOPER</h3>
                        <p class="card-text">
                            .NET and Oracle developer working as a consultant at Capgemini in Sweden.
                            Creating web pages and doing web development only on free time for the
                            creativity and learning new things.
                        </p>
                    </div>
                    <div class="card-flex">
                        <h3>TECH NERD</h3>
                        <p class="card-text">
                            Tech nerd by heart! Love new tech and everything around.
                            Playing games is also close to heart, specificly CS:GO!
                        </p>
                    </div>
                    <div class="card-flex">
                        <h3>PHOTOGRAPHER</h3>
                        <p class="card-text">
                            Photography is one of my main hobbies and has been for a while.
                            Still shooting on a Sony A6000 which I still enjoy with
                            some good selection of lenses.
                        </p>
                    </div>
                </div> -->