<section class="about" @slideAnimation>
    <div class="flex-container">
        <article class="article">
            <div class="article-flex-img">
                <img class="flex-img" src="../../assets/Pictures/DSC07449.jpg" alt="Picture of me looking at something funny">
            </div>
            <div class="article-flex">
                <h1>Hi! This is me</h1>
                <h2 class="art-header-bold">Hobby photographer,</h2>
                <h2 class="art-header-light">Software engineer,</h2>
                <h2 class="art-header-bold">Tech nerd and</h2>
                <h2 class="art-header-light">lover of skiing.</h2>
                <p class="article-text">
                    Welcome to my web page. My name is Anton and I'm a developer and softwear engineer who does
                    photography as a hobby.
                    <br><br>
                    The pictures will mostly be from travels and trips done in the past years. I made a promise to try
                    to do more in 2020 but that has unfortunalty it has not really been possible.
                    I will try to bring in more of a street vibe during spring now when the streets are empty.
                    <br><br>
                    More information is comming soon and the site is updating almost every week so keep an eye open for
                    new content and more features.
                </p>
                <!-- <div class="main-card-flex">
                    <div class="card-flex">
                        <h3>DEVELOPER</h3>
                        <p class="card-text">
                            .NET and Oracle developer working as a consultant at Capgemini in Sweden.
                            Creating web pages and doing web development only on free time for the
                            creativity and learning new things.
                        </p>
                    </div>
                    <div class="card-flex">
                        <h3>TECH NERD</h3>
                        <p class="card-text">
                            Tech nerd by heart! Love new tech and everything around.
                            Playing games is also close to heart, specificly CS:GO!
                        </p>
                    </div>
                    <div class="card-flex">
                        <h3>PHOTOGRAPHER</h3>
                        <p class="card-text">
                            Photography is one of my main hobbies and has been for a while.
                            Still shooting on a Sony A6000 which I still enjoy with
                            some good selection of lenses.
                        </p>
                    </div>
                </div> -->
            </div>
        </article>
    </div>
</section>