<section class="main-navigation">
    <nav id="topNav">
        <div id="navDivName">
            <a (click)="scrollToTop()" id="NavSpanName" routerLink="">
                ERIK ANTON MANSSON
            </a>
        </div>
        <div class="hamburgerContainer">
            <ul class="top-nav-list">
                <li><a routerLink="" routerLinkActive="is-active" 
                        [routerLinkActiveOptions]="{ exact: true }">HOME</a>
                </li>
                <li>
                    <a routerLink="portfolio" routerLinkActive="is-active" >PORTFOLIO</a>
                </li>
                <li>
                    <a routerLink="about" routerLinkActive="is-active">ABOUT</a>
                </li>
            </ul>
            <div class="hamburger" (click)="toggleMenu()">MENU
                <!-- <div id="bar1"></div>
                <div id="bar2"></div>
                <div id="bar3"></div> -->
            </div>
        </div>
    </nav>
</section>

<section class="right-navigation">
    <div id="rightNav">
        <div id="bottom-right" (click)="scrollToTop()">
            <span class="arrow-txt">TOP</span>
        </div>

    </div>
</section>
<section class="left-navigation">
    <!-- <div id="rightNav">
        <div id="bottom-right" (click)="scrollToTop()">
            <span class="arrow-txt">TOP</span>
        </div>

    </div> -->
</section>

<div id="navMenuContainer" (click)="isToggled">
    <div class="flex-container">
        <div class="NavMenuHamburgerContainer">
            <div class="NavMenuhamburger" (click)="toggleMenu()">
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                    <path
                        d="M12 11.293l10.293-10.293.707.707-10.293 10.293 10.293 10.293-.707.707-10.293-10.293-10.293 10.293-.707-.707 10.293-10.293-10.293-10.293.707-.707 10.293 10.293z" />
                </svg>
                <!-- <div id="cross1"></div>
            <div id="cross2"></div> -->
            </div>
        </div>
    </div>
    <nav class="navMenu">
        <ul class="menuList">
            <li><a (click)="toggleMenu()" routerLink="" routerLinkActive="is-active" class="NavLink"
                    [routerLinkActiveOptions]="{ exact: true }"> 01 /<span class="activeCrossed">HOME</span>
                    <!-- <span class="activeCrossed"></span> -->
                </a>
            </li>
            <li>
                <a (click)="toggleMenu()" routerLink="portfolio" routerLinkActive="is-active" class="NavLink">02 /<span
                        class="activeCrossed">PORTFOLIO</span>
                </a>
            </li>
            <!-- <li>
                <a (click)="toggleMenu()" routerLink="features" routerLinkActive="is-active" class="NavLink">03 /<span
                        class="activeCrossed">FEATURES</span>
                </a>
            </li>
            <li>
                <a (click)="toggleMenu()" routerLink="features/kyoto" routerLinkActive="is-active"
                    class="NavLink NavLinkSub"> / 10
                    <span class="activeCrossed">KYOTO</span>
                </a>
            </li> -->
            <li>
                <a (click)="toggleMenu()" routerLink="about" routerLinkActive="is-active" class="NavLink">03 /<span
                        class="activeCrossed">ABOUT</span>
                </a>
            </li>
        </ul>
    </nav>
</div>