<footer>
    <div class="footer-container">
        <div class="footer-flex">
            <h1 class="footerName">MANSSON°</h1>
            <p class="footer-text">
                Photography page for my favorite photos.<br>
                All images © copyright by Anton Månsson.
            </p>
        </div>
        <div class="footer-flex">
            <h1 class="footerHeader">EXPLORE</h1>
            <ul>
                <li><a routerLink="" routerLinkActive="is-active" class="footerLink"
                    [routerLinkActiveOptions]="{ exact: true }">HOME 
                </a>
            </li>
            <li>
                <a routerLink="portfolio" routerLinkActive="is-active" class="footerLink"> PORTFOLIO </a>
            </li>
            <li>
                <!-- <a routerLinkActive="is-active" class="NavLink">FEATURES
                </a> -->
                <a routerLinkActive="is-active" class="footerLink"> FEATURES 
                </a>
            </li>
            <li>
                <a routerLink="features/kyoto" routerLinkActive="is-active"
                    class="footerLink"> KYOTO 
                </a>
            </li>
            <li>
                <a routerLink="about" routerLinkActive="is-active" class="footerLink"> ABOUT 
                </a>
            </li>
            </ul>
        </div>
        <div class="footer-flex">
            <h1 class="footerHeader">FOLLOW</h1>
            <ul>
                <li><a href="https://www.instagram.com/mansson_anton/" target="_blank"class="footerLink" rel="noopener">INSTAGRAM 
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/anton.mansson.7?ref=bookmarks" target="_blank" class="footerLink" rel="noopener"> FACEBOOK </a>
            </li>
            <li>
                <a href="https://twitter.com/mansson_anton1" target="_blank" class="footerLink" rel="noopener"> TWITTER 
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/anton-mansson/" target="_blank" class="footerLink" rel="noopener"> LINKEDIN 
                </a>
            </li>
            <li>
                <a href="https://github.com/manssonanton" target="_blank" class="footerLink" rel="noopener"> GITHUB 
                </a>
            </li>
            </ul>
        </div>
        <div class="footer-flex">
            <h1 class="footerHeader">NEXT →</h1>
            <a routerLink="portfolio" routerLinkActive="is-active" class="footerLink"> PORTFOLIO </a>
        </div>
    </div>
</footer>